body{
  background-color: #ffcc99;
}

.container-header{
  background-image: url("./../assets/img/farm-bg.jpg");
 background-size: cover;
 border-radius: 25px;
 padding: 20px;
}

.login-screen{
  padding:10px;
  margin: 10px;

}

.container-products{
  padding: 20px;
  margin-top:100px;
  background-color: #00cc66;
}

.product-card{
  background-color: white;
  padding:10px;
  border-radius:15px;
  margin-top:20px;
}
.card-auth{
  background-color: white;
  height: 300px;
  width: 250px;
  border-radius:25px;
  border: 2px dashed black;
  box-shadow: 0px 0px 15px #00cc66;
}